/* ======================== VARIABLE ======================== */
/* ======================== FONTS ======================== */
/* ======================== LIST ======================== */
/* ======================== URL ======================== */
/* ======================== RESET ======================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=vietnamese");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=vietnamese");
* {
  padding: 0px;
  margin: 0px; }
  *:focus {
    outline: none; }

a {
  text-decoration: none;
  word-wrap: break-word;
  transition: all 0.25s; }
  a:hover {
    text-decoration: none;
    transition: all 0.25s; }

button {
  transition: all 0.25s; }
  button:hover {
    transition: all 0.25s; }

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

select:focus, button:focus, input:focus {
  outline: none; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
  padding: 8px 10px;
  width: 100%;
  border: none;
  cursor: pointer; }

ul,
ol {
  margin: 0;
  padding: 0; }

ul li,
ol li {
  list-style: none; }

p {
  margin: 0; }

h1 {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
  font-weight: 700; }

h2 {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
  font-weight: 700; }

h3 {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
  font-weight: 700; }

h4 {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
  font-weight: 700; }

h5 {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
  font-weight: 700; }

h6 {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
  font-weight: 700; }

body {
  font-family: "Open Sans", sans-serif;
  color: #616161;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7; }

.clearfix {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.upper-text {
  text-transform: uppercase; }

/* ======================== FONTS ======================== */
/* ======================== MIXIN ======================== */
/* ======================== FONTS ======================== */
@media (min-width: 1250px) {
  .container {
    width: 1200px; } }

.bl-blog-home-ct {
  padding-top: 70px;
  padding-bottom: 100px; }
  .bl-blog-home-ct .bl-blog-home-item .bl-blog-home-item-tt {
    margin-bottom: 20px;
    position: relative; }
    .bl-blog-home-ct .bl-blog-home-item .bl-blog-home-item-tt span {
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      position: relative;
      color: #2b2b2b;
      font-weight: 700;
      background: #FFF;
      display: inline-block;
      z-index: 2;
      padding-right: 20px; }
    .bl-blog-home-ct .bl-blog-home-item .bl-blog-home-item-tt:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      background-color: #cecece;
      height: 1px;
      left: 0;
      right: 0;
      z-index: 1;
      margin-top: 3px; }

.bl-blog-categories {
  margin-bottom: 30px; }
  .bl-blog-categories .bl-blog-categories-ct {
    max-height: 580px;
    border-radius: 8px;
    position: relative; }
    .bl-blog-categories .bl-blog-categories-ct .sh-ratio .sh-ratio-container {
      padding-bottom: 76.5%; }
    .bl-blog-categories .bl-blog-categories-ct .post-categories-container {
      position: absolute;
      left: 35px;
      bottom: 35px;
      right: 35px;
      opacity: 1;
      animation-name: fadein3;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      animation-duration: 1s;
      z-index: 120; }
      .bl-blog-categories .bl-blog-categories-ct .post-categories-container .post-categories {
        margin-bottom: 6px;
        line-height: 1; }
        .bl-blog-categories .bl-blog-categories-ct .post-categories-container .post-categories a {
          font-family: "Montserrat", sans-serif;
          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
          font-size: 11px;
          letter-spacing: 2px;
          color: #1ba0e2;
          font-weight: 700;
          display: inline-block;
          letter-spacing: 2px; }
      .bl-blog-categories .bl-blog-categories-ct .post-categories-container h2 a {
        font-size: 24px;
        margin-top: 2px;
        margin-bottom: 13px;
        line-height: 120%;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 700; }
      .bl-blog-categories .bl-blog-categories-ct .post-categories-container .post-meta a {
        font-family: "Montserrat", sans-serif;
        font-size: 11px;
        color: #fff;
        display: inline-block; }
    .bl-blog-categories .bl-blog-categories-ct:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75));
      border-radius: 8px; }

.blog-mini-post {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
  position: relative; }
  .blog-mini-post .blog-mini-post-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%; }
    .blog-mini-post .blog-mini-post-content .post-img {
      flex: 0 0 80px;
      width: 80px;
      margin-right: 20px; }
      .blog-mini-post .blog-mini-post-content .post-img img {
        border-radius: 7px; }
    .blog-mini-post .blog-mini-post-content .post-info .post-title a {
      font-size: 14px;
      margin-bottom: 10px;
      display: block;
      word-break: break-word;
      font-family: "Montserrat";
      color: #2b2b2b;
      font-weight: 700; }
  .blog-mini-post:last-child {
    border-bottom-width: 0;
    padding-bottom: 0; }

.bl-blog-categories-01 .bl-blog-categories-ct .sh-ratio .sh-ratio-container .sh-ratio-content {
  max-height: 580px;
  border-radius: 8px;
  background-image: url(../images/nhung-diem-tham-quan-o-da-lat-featured-585x372.jpg); }

.bl-blog-categories-02 .bl-blog-categories-ct .sh-ratio .sh-ratio-container .sh-ratio-content {
  max-height: 580px;
  border-radius: 8px;
  background-image: url(../images/du-lich-trung-quoc-tu-tuc-featured-image-585x372.jpg); }

.bl-blog-categories-03 .bl-blog-categories-ct .sh-ratio .sh-ratio-container .sh-ratio-content {
  max-height: 580px;
  border-radius: 8px;
  background-image: url(../images/mon-an-vat-ngon-ha-noi-cover-585x372.png); }

.bl-updates {
  padding-top: 60px;
  padding-bottom: 80px;
  background-image: url(../images/infographic-bgbddbb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
  overflow: hidden; }
  .bl-updates .bl-updates-tt {
    font-size: 32px;
    color: #ffffff;
    line-height: 48px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal; }

.sh-ratio {
  position: relative; }
  .sh-ratio .sh-ratio-container .sh-ratio-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%; }

.post-meta, .post-meta a {
  color: #8d8d8d;
  font-size: 11px; }

/* ======================== HEADER ======================== */
.header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1; }
  .header .container {
    padding: 0; }
  .header .bl-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .header .bl-header .bl-header-content {
      display: flex;
      align-items: center; }
    .header .bl-header .bl-header-logo {
      display: block;
      padding: 17px 0; }
      .header .bl-header .bl-header-logo img {
        height: auto;
        max-height: 250px; }
        .header .bl-header .bl-header-logo img.bl-light-logo {
          display: block; }
        .header .bl-header .bl-header-logo img.bl-standard-logo {
          display: none; }
    .header .bl-header .bl-header-nav {
      margin-left: auto; }
      .header .bl-header .bl-header-nav #menu-header {
        display: inline-flex; }
        .header .bl-header .bl-header-nav #menu-header .menu-item {
          padding: 0 12px; }
          .header .bl-header .bl-header-nav #menu-header .menu-item a {
            font-size: 12px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.85);
            padding: 17px 0;
            font-family: "Montserrat", sans-serif;
            font-weight: bold; }
          .header .bl-header .bl-header-nav #menu-header .menu-item.bl-nav-special a i {
            font-size: 18px;
            position: relative;
            bottom: -3px; }
          .header .bl-header .bl-header-nav #menu-header .menu-item.bl-nav-readmore a {
            position: relative; }
            .header .bl-header .bl-header-nav #menu-header .menu-item.bl-nav-readmore a i {
              font-size: 22px; }
            .header .bl-header .bl-header-nav #menu-header .menu-item.bl-nav-readmore a div {
              position: relative; }
              .header .bl-header .bl-header-nav #menu-header .menu-item.bl-nav-readmore a div .bl-read-later-total {
                background: #505050;
                color: #fff;
                font-size: 12px;
                border-radius: 20px;
                width: 22px;
                height: 22px;
                text-align: center;
                display: inline-block;
                line-height: 18px;
                padding: 0;
                position: relative;
                border: 2px solid #fff;
                position: absolute;
                top: 0;
                right: -9px; }
          .header .bl-header .bl-header-nav #menu-header .menu-item:hover a {
            color: #FFF; }

/* ======================== Page ======================== */
.bl-parallax {
  padding-top: 200px;
  padding-bottom: 100px;
  background-image: url(../images/neww-bg.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
  overflow: hidden;
  background-attachment: scroll;
  background-color: transparent;
  background-image: inherit;
  background-size: cover;
  background-position: 50% 0; }
  .bl-parallax .bl-parallax-tt {
    margin-bottom: 40px; }
    .bl-parallax .bl-parallax-tt img {
      display: block; }
  .bl-parallax .bl-parallax-ct .citybutton {
    background: #fff;
    padding: 10px 5px;
    border-radius: 10px; }
    .bl-parallax .bl-parallax-ct .citybutton .item {
      padding-right: 0;
      padding-left: 0; }
      .bl-parallax .bl-parallax-ct .citybutton .item .item-ct {
        padding: 0 5px; }
        .bl-parallax .bl-parallax-ct .citybutton .item .item-ct a img {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: .15s ease-in-out;
          transition: .15s ease-in-out;
          opacity: 1;
          border-radius: 4px; }
        .bl-parallax .bl-parallax-ct .citybutton .item .item-ct a:hover img {
          -webkit-transform: scale(1.06);
          transform: scale(1.06);
          opacity: 0.6; }

/* ======================== FOOTER ======================== */
