@media (min-width: 1250px) {
    .container {
        width: 1200px;
    }
}
::selection {
    background-color: #d79c74!important;
    color: #fff;
}
.td-scroll-up {
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 3px 6px 1px rgba(0,0,0,.07);
    z-index: 1;
    border-radius: 8px;
    transform: translate3d(0, 100px, 0);
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    -o-transform: translate3d(0, 100px, 0);
    -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    i {
        display: block;
        font-size: 30px;
        line-height: 46px;
        color: #505050;
    }
}
.td-scroll-up-visible {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}
.bl-post-container {
    background-color: #f6f6f6;
    border-radius: 8px;
    position: relative;
    max-height: 580px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient( rgba(0,0,0,0) 25%,rgba(0,0,0,0.75) );
        border-radius: 8px;
    }
}
.post-categories-container {
    position: absolute;
    left: 35px;
    bottom: 35px;
    right: 35px;
    opacity: 1;
    animation-name: fadein3;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    z-index: 100;
    .post-categories {
        margin-bottom: 6px;
        line-height: 1;
        a {
            font-family: $fontMontserrat;
            text-shadow: 0 2px 2px rgba(0,0,0,.5);
            font-size: 11px;
            letter-spacing: 2px;
            color: #1ba0e2;
            font-weight: 700;
            display: inline-block;
        }
    }
    h2 {
        a {
            display: block;
            font-size: 24px;
            margin-top: 2px;
            margin-bottom: 13px;
            line-height: 120%;
            color: #fff;
            font-family: $fontMontserrat;
            font-weight: 700;
        }
    }
    .post-meta {
        a {
            font-family: $fontMontserrat;
            font-size: 11px;
            color: #fff;
            display: inline-block;
        }
    }
}
.bl-ratio {
    position: relative;
    .bl-ratio-container {
        .bl-ratio-content {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: 8px;
        }
    }
}
.post-meta, .post-meta a {
    color: #8d8d8d;
    font-size: 11px;
}

.btn-style-01 {
    font-size: 16px;
    padding: 18px 25px;
    border-radius: 5px;
}