@media (min-width: 1250px) {
    .container {
        width: 1200px;
    }
}

.bl-blog-home-ct {
    padding-top: 70px;
    padding-bottom: 100px;
    .bl-blog-home-item {
        .bl-blog-home-item-tt {
            margin-bottom: 20px;
            position: relative;
            span {
                font-size: 24px;
                font-family: $fontMontserrat;
                position: relative;
                color: #2b2b2b;
                font-weight: 700;
                background: #FFF;
                display: inline-block;
                z-index: 2;
                padding-right: 20px;
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -webkit-transform: translate(0, -50%);
                background-color: #cecece;
                height: 1px;
                left: 0;
                right: 0;
                z-index: 1;
                margin-top: 3px;
            }
        }
    }
}

.bl-blog-categories {
    margin-bottom: 30px;    
    .bl-blog-categories-ct {
        max-height: 580px;
        margin-bottom: 40px;
        border-radius: 8px;
        position: relative;
        .sh-ratio {
            .sh-ratio-container {
                padding-bottom: 76.5%;
            }
        }
        .post-categories-container {
            position: absolute;
            left: 35px;
            bottom: 35px;
            right: 35px;
            opacity: 1;
            animation-name: fadein3;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
            animation-duration: 1s;
            z-index: 120;
            .post-categories {
                margin-bottom: 6px;
                line-height: 1;
                a {
                    font-family: $fontMontserrat;
                    text-shadow: 0 2px 2px rgba(0,0,0,.5);
                    font-size: 11px;
                    letter-spacing: 2px;
                    color: #1ba0e2;
                    font-weight: 700;
                    display: inline-block;
                    letter-spacing: 2px;
                }
            }
            a {
                h2 {
                    font-size: 24px;
                    margin-top: 2px;
                    margin-bottom: 13px;
                    line-height: 120%;
                    color: #fff;
                    font-family: $fontMontserrat;
                    font-weight: 700;
                }
            }
            .post-meta {
                a {
                    font-family: $fontMontserrat;
                    font-size: 11px;
                    color: #fff;
                    display: inline-block;
                }
            }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient( rgba(0,0,0,0) 25%,rgba(0,0,0,0.75) );
            border-radius: 8px;
        }
    }
}
.bl-blog-categories-01 {   
    .bl-blog-categories-ct {
        .sh-ratio {
            .sh-ratio-container {
                .sh-ratio-content {
                    max-height: 580px;
                    border-radius: 8px;
                    background-image: url(../images/nhung-diem-tham-quan-o-da-lat-featured-585x372.jpg);
                }
            }
        }
    }
}

.bl-blog-categories-02 {   
    .bl-blog-categories-ct {
        .sh-ratio {
            .sh-ratio-container {
                .sh-ratio-content {
                    max-height: 580px;
                    border-radius: 8px;
                    background-image: url(../images/du-lich-trung-quoc-tu-tuc-featured-image-585x372.jpg);
                }
            }
        }
    }
}

.bl-blog-categories-03 {   
    .bl-blog-categories-ct {
        .sh-ratio {
            .sh-ratio-container {
                .sh-ratio-content {
                    max-height: 580px;
                    border-radius: 8px;
                    background-image: url(../images/mon-an-vat-ngon-ha-noi-cover-585x372.png);
                }
            }
        }
    }
}

.sh-ratio {
    position: relative;
    .sh-ratio-container {
        .sh-ratio-content {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-size: cover;
            background-position: 50% 50%;
        }
    }
}