.bl-blog-home-ct {
    padding-top: 70px;
    padding-bottom: 100px;
    .bl-blog-home-item {
        .bl-blog-home-item-tt {
            margin-bottom: 20px;
            position: relative;
            span {
                font-size: 24px;
                font-family: $fontMontserrat;
                position: relative;
                color: #2b2b2b;
                font-weight: 700;
                background: #FFF;
                display: inline-block;
                z-index: 2;
                padding-right: 20px;
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -webkit-transform: translate(0, -50%);
                background-color: #cecece;
                height: 1px;
                left: 0;
                right: 0;
                z-index: 1;
                margin-top: 3px;
            }
        }
    }
}

.bl-blog-categories {
    margin-bottom: 30px;    
    .bl-post-container {
        .bl-ratio {
            .bl-ratio-container {
                padding-bottom: 76.5%;
            }
        }
    }
}
.blog-mini-post {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
    position: relative;
    .blog-mini-post-content {
        @include flexbox;
        align-items: center;
        width: 100%;
        .post-img {
            flex: 0 0 80px;
            width: 80px;
            margin-right: 20px;
            img {
                border-radius: 7px;
            }
        }
        .post-info {
            .post-title {
                a {
                    font-size: 14px;
                    margin-bottom: 10px;
                    display: block;
                    word-break: break-word;
                    font-family: "Montserrat";
                    color: #2b2b2b;
                    font-weight: 700;
                }
            }
        }
    }
    &:last-child {
        border-bottom-width: 0;
        padding-bottom: 0;
    }
}

.bl-blog-home-posts {
    .bl-blog-categories {
        .bl-post-container {
            .bl-ratio {
                .bl-ratio-container {
                    padding-bottom: 130%;
                }
            }
        }
    }
}