.bl-parallax {
    padding-top: 200px;
    padding-bottom: 100px;
    background-image: url(../images/neww-bg.jpg) !important;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position: 50% 0;
    .bl-parallax-tt {
        margin-bottom: 40px;
        img {
            display: block;
        }
    }
    .bl-parallax-ct {
        .citybutton {
            background: #fff;
            padding: 10px 5px;
            border-radius: 10px;
            .item {
                padding-right: 0;
                padding-left: 0;
                .item-ct {
                    padding: 0 5px;
                    a {
                        img {
                            -webkit-transform: scale(1);
                            transform: scale(1);
                            -webkit-transition: .15s ease-in-out;
                            transition: .15s ease-in-out;
                            opacity: 1;
                            border-radius: 4px;
                        }
                        &:hover {
                            img {
                                -webkit-transform: scale(1.06);
                                transform: scale(1.06);
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }
    }
}