.bl-updates {
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: url(../images/infographic-bgbddbb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    overflow: hidden;
    .bl-updates-tt {
        font-size: 32px;
        margin-bottom: 20px;
        color: #ffffff;
        line-height: 48px;
        text-align: center;
        font-family: $fontOpensans;
        font-weight: 700;
        font-style: normal;
    }
    .bl-post-container {
        .bl-ratio-container {
            padding-bottom: 130%;
        }
    }
}